{% extends 'base.html' %}

{%block title %}Post Details{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-2">
                <div class="post-entry">
                    <h2 class="text-primary">{{ post.title }}</h2>
                    <p>{{ post.body }}</p>
                    <div class="card-footer text-center text-muted mt-4">
                        {% if post.author == request.user %}
                            <a href="{%url 'blog:edit_post' post.pk %}">Edit</a> | <a href="{%url 'blog:delete_post' post.pk%}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
